<% if alert || notice %>
  <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
    <div class="sticky z-10 top-0 h-16 lg:py-2.5">
      <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
        <% if alert %>
          <div class="flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
            <span class="font-medium"><%= alert %></span>
          </div>
        <% end %>

        <% if notice %>
          <div class="flex p-4 mb-4 text-sm text-sky-800 border border-sky-300 rounded-lg bg-sky-50 z-10" role="alert">
            <span class="font-medium"><%= notice %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
