<div class="container mx-auto">
  <h1 class="text-lg font-bold text-graphite">Settings</h1>
  <span class="text-stone text-sm">This is where you can customize account settings.</span>
  <ul class="list-decimal py-12 px-12 space-y-2">
    <li>Coaching Templates</li>
    <li>QA Templates</li>
    <li>Account Information</li>
    <li>Team Members</li>
  </ul>
</div>