<div class="nested-form-wrapper">
  <div class="flex flex-wrap -mx-1 lg:-mx-4 mt-2 gap-6">
  <div class="mb-6">
      <label for="metric_name" class="%>">Name</label>
      <input type="text" name="metric_name[]" value="<% %>"class="js-start-time%>">
    </div>

    <div class="mb-6">
      <label for="deduction" class="%>">Deduction</label>
      <input type="number" name="deduction[]" class="js-end-time">
    </div>

    <div class="mb-6">
      <label for="description" class="">description</label>
      <input type="text" name="description[]" class="js-available-slots">
    </div>

  
  <div class="mb-6">
    <button type="button" data-action="nested-form#remove">Remove todo</button>
  </div>
</div>