<%# app/views/searches/show.html.erb %>

<%= turbo_frame_tag :search do %>
  <% if @accounts.any? %>
    <ul class="space-y-4 mb-4">
      <% @accounts.each do |account| %>
      <li>
        <%= link_to account, data: { turbo_frame: "_top" } do %>
          <label
            for="job-1"
            class="inline-flex items-center justify-between w-full p-5 text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-500 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-900 hover:bg-gray-100 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-500"
          >
            <div class="block">
              <div class="w-full text-lg font-semibold"><%= account.name %></div>
              <div class="w-full text-gray-500 dark:text-gray-400 capitalize"><%= account.site %></div>
            </div>
            <svg class="w-4 h-4 ms-3 rtl:rotate-180 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
          </label>
        <% end %>
      </li>
      <% end %>
    </ul>

  <% else %>
    <p>No results</p>
  <% end %>
<% end %>

