<div id="accounts">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">

    <% current_user.accounts.each do |account| %>
      <%= render 'account', account: account %>
    <% end %>
    
  </div>  
</div>
