<div>
  <h1 class="font-bold text-5xl text-gray-700 uppercase">Accounts</h1>
  <p>List of active accounts</p>
  <br />
  <% @accounts.each do |account| %>
    <h1 class='font-bold text-4xl text-gray-600 py-5'><%= link_to account.name, account_path(account) %></h1>
    <p><%= account.description %></p>
    <span><%= account.id %></span>
  <% end %>
</div>
