<%= content_for(:title, "Create account") %>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="space-y-10 divide-y divide-gray-900/10">
    <div class="grid grid-cols-1 gap-x-8 pt-10 md:grid-cols-3">
      <div class="px-4 sm:px-0">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Create a new account</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">
          Make some selections, fill in some boxes, and go live in minutes.
        </p>
         <p class="mt-4">
            <%= render 'shared/error_messages', object: @account %>
         </p>
      </div>  

      <%= render "form", account: @account %>
    
    </div>
  </div>
  </div>
</div>
